# xcode noise
build/*
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
xcuserdata
# *.xcworkspace
# !default.xcworkspace
*.moved-aside

# old skool
.svn
.cvs

# osx noise
.DS_Store
profile

#cocoapods
Pods/*